/*Remove blue glue from input*/
input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}

.scrollable {
    max-height: 200px;
    overflow-y: auto;
}