/*Remove blue glue from input*/
input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}

.scrollable {
    max-height: 200px;
    overflow-y: auto;
}

/* Chord */
#chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
}

.list-group-condensed .list-group-item {
    padding-top: 3px;
    padding-bottom: 3px;
}

/* Scatterplot */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

/* Histogram */
.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}
.bar text {
    fill: #fff;
}
#contigtable {
    margin: 10px 10px 10px 10px;
}
.barText {
    font: 10px sans-serif;
}
