/*Remove blue glue from input*/
input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}

.scrollable {
    max-height: 200px;
    overflow-y: auto;
}

#chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
}
