/* Remove blue glue from input */
input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}

.scrollable {
    max-height: 200px;
    overflow-y: auto;
}

.colorBox {
    float: left;
    width: 15px;
    height: 15px;
    margin: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

#nocontigs-message {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #777;
}

/* Chord */
#chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
}

.list-group-condensed .list-group-item {
    padding-top: 3px;
    padding-bottom: 3px;
}

/* Scatterplot */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
    border: 1px solid black;
    background-color: white;
}

/* Histogram */
.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}
.bar text {
    fill: #fff;
}
#contigtable {
    margin: 10px 10px 10px 10px;
}
.barText {
    font: 10px sans-serif;
}

/* Barplot */
.y.axisRight text {
    fill: #F91826;
}

.y.axisLeft text {
    fill: #5E809C;
}

.bar1 {
  fill: #5E809C;
}

.bar2 {
  fill: #F91826;
}