<div data-bind="with: contigsetPage">

    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Length</div>
                <div data-bind="histSvg: 'length'"></div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">GC</div>
                <div data-bind="histSvg: 'gc'"></div>
            </div>
        </div>
    </div>

</div>
