<script type="text/javascript">
$(function() {
    $('#binsetFile').change(function(e) {
        var reader = new FileReader();
        reader.onload = function() {
            $('#binTable').find('tbody').find('tr').remove();
            var lines = reader.result.split(/\r\n|\r|\n/);
            for (var i = 0; i < 5; i++) {
                var data = lines[i].split(/\t| |,|;/);
                $('#binTable').find('tbody')
                    .append($('<tr>')
                            .append($('<td>').text(data[0]))
                            .append($('<td>').text(data[1]))
                    );
            }
        };
        reader.readAsText(e.target.files.item(0));
    });
});
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Bin sets
            <a href="#binsetFormPanel" data-toggle="collapse">
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
        </h4>
    </div>

    <div id="binsetFormPanel" class="panel-collapse collapse">
    <div class="panel-body well">
        <div id="binsetAlerts"></div>

        <form id="binsetForm" name="binsetForm" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="binsetName">Naam</label>
                <input type="text" class="form-control" id="binsetName" name="binsetName">
            </div>

            <div class="form-group">
                <label for="binsetFile">Bin set bestand</label>
                <input type="file" id="binsetFile" name="binsetFile">
                <p class="help-block">Een delimitergescheiden bestand met eerste kolom
                    contig en tweede kolom bin nummer.</p>
            </div>

            <table class="table" id="binTable">
                <thead><tr><th>Contig</th><th>Bin</th></tr></thead>
                <tbody></tbody>
            </table>

            <div class="form-group">
                <label for="binsetContigset">Contigset</label>
                <select class="form-control" id="binsetContigset" name="binsetContigset">
                    {% for contigset in contigsets %}
                        <option>{{ contigset.name }}</option>
                    {% endfor %}
                    <option>Nieuw</option>
                </select>
                <p class="help-block">Selecteer optie "Nieuw" om een nieuwe
                    contigset te maken van de contigs in het bin bestand.</p>
            </div>

            <input id="contigsetSubmit" type="submit" class="btn btn-default" value="Voeg toe" />
        </form>
    </div>
    </div>

    <ul class="list-group" data-bind="template: {foreach: binsets, name: 'binsetItem'}"></ul>
    <script type="text/html" id="binsetItem">
        <li class="list-group-item">
            <span data-bind="text: name, visible: !editingName()"></span>
            <input data-bind="visible: editingName, value: name, hasFocus: editingName" />
            <span class="pull-right">
                <button class="btn btn-xs btn-default" data-bind="click: editName">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button class="btn btn-xs btn-danger" data-bind="click: $root.removeBinset">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                </button>
            </span>
        </li>
    </script>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Assembled contigs / scaffolds
            <a href="#contigsetFormPanel" data-toggle="collapse">
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
        </h4>
    </div>

    <div id="contigsetFormPanel" class="panel-collapse collapse">
    <div class="panel-body well">
        <div id="contigsetAlerts"></div>

        <form id="contigsetForm" name="contigsetForm" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="contigsetName">Naam</label>
                <input type="text" class="form-control" id="contigsetName" name="contigsetName">
            </div>

            <div class="form-group">
                <label for="contigsetFile">Contig bestand</label>
                <input type="file" id="contigsetFile" name="contigsetFile">
                <p class="help-block">Het contig bestand moet in fasta-formaat zijn.</p>
            </div>

            <input id="contigsetSubmit" type="submit" class="btn btn-default" value="Voeg toe" />
        </form>
    </div>
    </div>

    <ul class="list-group" data-bind="template: {foreach: contigsets, name: 'contigsetItem'}"></ul>
    <script type="text/html" id="contigsetItem">
        <li class="list-group-item">
            <span data-bind="text: name"></span>
        </li>
    </script>
</div>

