<script type="text/javascript">
$(function() {
    $('#binsetFile').change(function(e) {
        var reader = new FileReader();
        reader.onload = function() {
            $('#binTable').find('tbody').find('tr').remove();
            var lines = reader.result.split(/\r\n|\r|\n/);
            for (var i = 0; i < 5; i++) {
                var data = lines[i].split(/\t| |,|;/);
                $('#binTable').find('tbody')
                    .append($('<tr>')
                            .append($('<td>').text(data[0]))
                            .append($('<td>').text(data[1]))
                    );
            }
        };
        reader.readAsText(e.target.files.item(0));
    });
});
</script>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Assembly
            <a href="#contigsetFormPanel" data-toggle="collapse">
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
        </h4>
    </div>

    <!-- DATA INPUT -->
    <div id="contigsetFormPanel" class="panel-collapse collapse">
        <div class="panel-body well">
            <div id="contigsetAlerts"></div>

            <form id="contigsetForm" name="contigsetForm" method="post"
                  enctype="multipart/form-data" data-bind="submit: uploadContigset">
                <div class="form-group">
                    <label for="contigsetName">Naam</label>
                    <input type="text" class="form-control" id="contigsetName" name="name">
                </div>

                <div class="form-group">
                    <label for="contigsetFile">Contig bestand</label>
                    <input type="file" id="contigsetFile" name="contigs">
                    <p class="help-block">Het contig bestand moet in fasta-formaat zijn.</p>
                </div>

                <div class="form-group">
                    <label for="coverageFile">Coverage bestand</label>
                    <input type="file" id="coverageFile" name="coverage">
                    <p class="help-block">Een delimiter-gescheiden bestand.
                        Eerste kolom is de contig naam.</p>
                </div>

                <button class="btn btn-default" type="submit">Voeg toe</button>
            </form>
        </div>
    </div>

    <!-- CONTIGSETS -->
    <ul class="list-group" data-bind="foreach: contigsetsToShow">
        <li class="list-group-item" data-bind="slideVisible: true">
            <span data-bind="text: name,
                             visible: !renaming(),
                             tooltip: { title: 'Klik om te wijzigen' },
                             click: rename"></span>
            <input data-bind="visible: renaming, value: name, hasFocus: renaming" />
            <span class="pull-right">
                <button class="btn btn-xs btn-default"
                        data-bind="visible: !$root.selectedContigset(),
                                   click: $root.selectedContigset">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
                <button class="btn btn-xs btn-default"
                        data-bind="visible: $root.selectedContigset,
                                   click: function(){$root.selectedContigset(null)}">
                    <span class="glyphicon glyphicon-eye-close"></span>
                </button>
                <button class="btn btn-xs btn-danger" data-bind="click: toggleDelete">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
            </span>
        </li>
        <li class="list-group-item list-group-item-danger" data-bind="slideVisible: showDelete">
            <span class="small">Let op: Alle binsets worden ook verwijderd</span>
            <span class="pull-right">
                <button class="btn btn-xs btn-default" data-bind="click: toggleDelete">Annuleer</button>
                <button class="btn btn-xs btn-danger"
                        data-bind="click: $root.deleteContigset">Verwijder</button>
            </span>
        </li>
    </ul>

</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Bin sets
            <a href="#binsetFormPanel" data-toggle="collapse">
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
        </h4>
    </div>

    <div id="binsetFormPanel" class="panel-collapse collapse">
    <div class="panel-body well">
        <div id="binsetAlerts"></div>

        <form id="binsetForm" name="binsetForm" method="post"
              enctype="multipart/form-data" data-bind="submit: uploadBinset">
            <div class="form-group">
                <label for="binsetName">Naam</label>
                <input type="text" class="form-control" id="binsetName" name="name">
            </div>

            <div class="form-group">
                <label for="binsetFile">Bin set bestand</label>
                <input type="file" id="binsetFile" name="bins">
                <p class="help-block">Een delimitergescheiden bestand met eerste kolom
                    contig en tweede kolom bin nummer.</p>
            </div>

            <table class="table table-condensed" id="binTable">
                <thead><tr><th>Contig</th><th>Bin</th></tr></thead>
                <tbody></tbody>
            </table>

            <div class="form-group">
                <label for="binsetContigset">Contigset</label>
                <select class="form-control" name="contigset" id="binsetContigset"
                        data-bind="foreach: contigsets">
                    <option data-bind="text: name, attr: { value: id }"></option>
                </select>
                <p class="help-block">Voeg een nieuwe (lege) contigset toe in
                    de panel hierboven.</p>
            </div>

            <button class="btn btn-default" type="submit">Voeg toe</button>
        </form>
    </div>
    </div>

    <ul class="list-group" data-bind="foreach: binsetsToShow">
        <li class="list-group-item" data-bind="style: { 'border-left-color': color,
                                                        'border-left-width': '4px'},
                                               slideVisible: true">
            <span data-bind="text: name,
                             visible: !renaming(),
                             tooltip: { title: 'Klik om te wijzigen' },
                             click: rename"></span>
            <input data-bind="visible: renaming, value: name, hasFocus: renaming" />
            <span class="pull-right">
                <button class="btn btn-xs btn-default"
                        data-bind="visible: !$root.selectedBinset() && $root.selectedContigset,
                                   click: $root.selectedBinset">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
                <button class="btn btn-xs btn-default"
                        data-bind="visible: $root.selectedBinset,
                                   click: function(){$root.selectedBinset(null)}">
                    <span class="glyphicon glyphicon-eye-close"></span>
                </button>
                <button class="btn btn-xs btn-danger" data-bind="click: toggleDelete">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
            </span>
        </li>
        <li class="list-group-item list-group-item-danger" data-bind="slideVisible: showDelete">
            <span class="small">Binset verwijderen?</span>
            <span class="pull-right">
                <button class="btn btn-xs btn-default" data-bind="click: toggleDelete">Annuleer</button>
                <button class="btn btn-xs btn-danger"
                        data-bind="click: $root.deleteBinset">Verwijder</button>
            </span>
        </li>
    </ul>
</div>


<div class="panel panel-default" data-bind="with: binSection,
                                            slideVisible: selectedBinset">
    <div class="panel-body">
        <span class="pull-left">
            <div class="dropdown">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    <span><span data-bind="text: selectedBinIds().length"></span> selected</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click: deleteBins">Delete</a></li>
                    <li><a href="#" data-bind="click: ">Merge</a></li>
                </ul>
            </div>
        </span>
    </div>

    <table class="table table-condensed" style="table-layout: fixed">
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="25%" data-bind="click: function() { sort('name') }">Bin</th>
                <th width="20%" data-bind="click: function() { sort('size') }">Contigs</th>
                <th width="20%" data-bind="click: function() { sort('gc') }">GC</th>
                <th width="20%" data-bind="click: function() { sort('n50') }">N50</th>
                <th width="10%">Color</th>
            </tr>
        </thead>
    </table>
    <div style="overflow-y: auto; max-height: 150px">
        <table class="table table-condensed" style="table-layout: fixed">
            <tbody data-bind="foreach: bins">
            <tr>
                <td width="5%">
                    <input type="checkbox" data-bind="checkedValue: id,
                                                      checked: $parent.selectedBinIds">
                </td>
                <td data-bind="text: name" width="25%"></td>
                <td data-bind="text: size" width="20%"></td>
                <td data-bind="text: gc" width="20%"></td>
                <td data-bind="text: n50" width="20%"></td>
                <td width="10%">
                    <button data-bind="style: { 'background-color': color },
                                        colorpicker: color"
                            class="colorBox"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="panel panel-default" data-bind="with: contigSection,
                                            slideVisible: selectedContigset">
    <div class="panel-body">
        <span class="pull-left">
            <div class="dropdown">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    <span><span data-bind="text: selectedAmount"></span> geselecteerd</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click: ">Verwijder</a></li>
                </ul>
            </div>
        </span>
        <span class="pull-right">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-sm btn-default"
                       data-bind="css: { active: view() === 'plot' },
                                  click: function() { view('plot') }">
                    <span class="glyphicon glyphicon-stats"></span>
                </label>
                <label class="btn btn-sm btn-default"
                       data-bind="css: { active: view() === 'table' },
                                  click: function() { view('table') }">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </label>
            </div>

            <button class="btn btn-sm btn-default"
                    data-bind="click: toggleFilters, css: { active: showFilters }">
                <span class="glyphicon glyphicon-filter"></span>
            </button>
        </span>
    </div>

    <div class="well well-sm" data-bind="visible: showFilters">
        <form class="form-horizontal">
            <div class="form-group form-group-sm">
                <label class="col-xs-2 control-label">GC</label>
                <div class="col-xs-3 col-xs-offset-2">
                    <select class="form-control" name="gcOperator">
                        <option> > </option>
                        <option> < </option>
                        <option> = </option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <input class="form-control" type="text" name="gcValue" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-2 control-label">Lengte</label>
                <div class="col-xs-3 col-xs-offset-2">
                    <select class="form-control" name="lengthOperator">
                        <option> > </option>
                        <option> < </option>
                        <option> = </option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <input class="form-control" type="text" name="lengthValue" />
                </div>
            </div>
        </form>
        <button class="btn btn-primary btn-sm">Toepassen</button>
    </div>

    <div class="row" data-bind="visible: view() === 'plot'">
        <div class="col-xs-9" data-bind="histSvg: true"></div>
        <div class="col-xs-3">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"
                    data-bind="css: { active: plotData() === 'gc' },
                                      click: function() { plotData('gc') }">
                    <a href="#">GC</a>
                </li>
                <li role="presentation"
                    data-bind="css: { active: plotData() === 'length' },
                                      click: function() { plotData('length') }">
                    <a href="#">Lengte</a>
                </li>
            </ul>
        </div>
    </div>

    <table class="table table-condensed" data-bind="visible: view() === 'table'">
        <thead>
            <tr>
                <th width="5%">
                    <input type="checkbox"
                           data-bind="checked: allContigsSelected">
                </th>
                <th width="55%" data-bind="click: function() { sort('name') }">
                    Contig
                    <span class="glyphicon pull-right"
                          data-bind="css: { 'glyphicon-chevron-up': sortBy() == 'name',
                                            'glyphicon-chevron-down': sortBy() == '-name'}">
                    </span>
                </th>
                <th width="20%" data-bind="click: function() { sort('gc') }">
                    GC
                    <span class="glyphicon pull-right"
                          data-bind="css: { 'glyphicon-chevron-up': sortBy() == 'gc',
                                            'glyphicon-chevron-down': sortBy() == '-gc'}">
                    </span>
                </th>
                <th width="20%" data-bind="click: function() { sort('length') }">
                    Lengte
                    <span class="glyphicon pull-right"
                          data-bind="css: { 'glyphicon-chevron-up': sortBy() == 'length',
                                            'glyphicon-chevron-down': sortBy() == '-length'}">
                    </span>
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: contigs">
            <tr>
                <td width="5%">
                    <input type="checkbox"
                           data-bind="checked: $parent.selectedContigIds || $parent.allContigsSelected,
                                      checkedValue: id,
                                      click: $root.select">
                </td>
                <td data-bind="text: name" width="55%"></td>
                <td data-bind="text: gc" width="20%"></td>
                <td data-bind="text: length" width="20%"></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer" style="background-color: #ffffff">
    <div class="row">
        <div class="col-xs-4">
            <div class="input-group input-group-sm">
                <input class="form-control" type="text" data-bind="value: index">
                <span class="input-group-addon">
                    / <span data-bind="text: indices"></span>
                </span>
            </div>
        </div>

        <div class="col-xs-3 col-xs-offset-5">
            <p class="small">
                <i><span data-bind="text: count"></span></i> contigs</p>
        </div>
    </div>
    </div>
</div>


<textarea data-bind="value: ko.toJSON($root, null, 2)" class="form-control"
    style="height: 500px"></textarea>
