<!-- TODO: find a pattern here... -->
<ol class="breadcrumb">
    <li data-bind="css: { active: crumb() == CrumbEnum.CONTIGSETS }">
        <!-- ko if: crumb() == CrumbEnum.CONTIGSETS -->
        Assemblies
        <!-- /ko -->
        <!-- ko ifnot: crumb() == CrumbEnum.CONTIGSETS -->
        <a href="#" data-bind="click: function() { crumb(CrumbEnum.CONTIGSETS) }">
            Assemblies</a>
        <!-- /ko -->
    </li>

    <!-- ko if: selectedContigset -->
    <li data-bind="css: { active: crumb() == CrumbEnum.CONTIGSET }">
        <!-- ko if: crumb() == CrumbEnum.CONTIGSET -->
        <span data-bind="text: selectedContigset().name"></span>
        <!-- /ko -->
        <!-- ko ifnot: crumb() == CrumbEnum.CONTIGSET -->
        <a href="#" data-bind="click: function() { crumb(CrumbEnum.CONTIGSET) }">
            <span data-bind="text: selectedContigset().name"></span>
        </a>
        <!-- /ko -->
    </li>

    <li data-bind="css: { active: crumb() == CrumbEnum.BINSETS }">
        <!-- ko if: crumb() == CrumbEnum.BINSETS -->
        Bin sets
        <!-- /ko -->
        <!-- ko ifnot: crumb() == CrumbEnum.BINSETS -->
        <a href="#" data-bind="click: function() { crumb(CrumbEnum.BINSETS) }">Bin sets</a>
        <!-- /ko -->
    </li>
    <!-- /ko -->

    <!-- ko if: selectedBinset -->
    <li data-bind="css: { active: crumb() == CrumbEnum.BINSET }">
        <!-- ko if: crumb() == CrumbEnum.BINSET -->
        <span data-bind="text: selectedBinset().name"></span>
        <!-- /ko -->
        <!-- ko ifnot: crumb() == CrumbEnum.BINSET -->
        <a href="#" data-bind="click: function() { crumb(CrumbEnum.BINSET) }">
            <span data-bind="text: selectedBinset().name"></span>
        </a>
        <!-- /ko -->
    </li>
    <!-- /ko -->

    <span class="pull-right">
        <!-- ko if: crumb() == CrumbEnum.CONTIGSET -->
        <button class="btn btn-danger btn-xs" data-bind="click: deleteContigset">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        <!-- /ko -->
        <!-- ko if: crumb() == CrumbEnum.BINSET -->
        <button class="btn btn-danger btn-xs" data-bind="click: deleteBinset">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        <!-- /ko -->
    </span>
</ol>


<div class="row">
    <!-- ko if: crumb() == CrumbEnum.CONTIGSETS -->
    <div class="col-xs-6">
        <div class="list-group" data-bind="foreach: contigsets">
            <button type="button" class="list-group-item"
                    data-bind="visible: true, click: $root.selectedContigset">
                <span data-bind="text: name"></span>
            </button>
        </div>
    </div>
    <div class="col-xs-6">
        <form class="form" name="contigsetForm" method="post"
              enctype="multipart/form-data" data-bind="submit: uploadContigset">
            <div class="form-group form-group-sm">
                <input type="text" class="form-control" name="name" placeholder="Name">
            </div>

            <div class="form-group form-group-sm">
                <input type="file" class="form-control" name="contigs">
            </div>

            <div class="form-group form-group-sm">
                <input type="file" class="form-control" name="coverage">
            </div>

            <div class="pull-right">
                <button class="btn btn-success btn-sm" type="submit">Add</button>
            </div>
        </form>
    </div>
    <!-- /ko -->
    <!-- ko if: crumb() == CrumbEnum.BINSETS -->
    <div class="col-xs-6">
        <div class="list-group" data-bind="foreach: binsets">
            <button type="button" class="list-group-item"
                    data-bind="borderColor: color,
                               visible: true,
                               click: $root.selectedBinset">
                <span data-bind="text: name"></span>
            </button>
        </div>
    </div>
    <div class="col-xs-6">
        <form class="form" name="binsetForm" method="post"
              enctype="multipart/form-data" data-bind="submit: uploadBinset">
            <div class="form-group form-group-sm">
                <input type="text" class="form-control" name="name" placeholder="Name">
            </div>

            <div class="form-group form-group-sm">
                <input type="file" class="form-control" name="bins">
            </div>

            <div class="pull-right">
                <button class="btn btn-success btn-sm" type="submit">Add</button>
            </div>
        </form>
    </div>
    <!-- /ko -->
</div>


<div class="panel panel-default"
     data-bind="with: binsetPage.binSection,
                visible: selectedBinset && crumb() == CrumbEnum.BINSET">
    <div class="panel-body">
        <span class="pull-left">
            <div class="dropdown">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    <span><span data-bind="text: binIds().length"></span> selected</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click: deleteBins">Delete</a></li>
                    <li><a href="#" data-bind="click: ">Merge</a></li>
                </ul>
            </div>
        </span>
    </div>

    <table class="table table-condensed" style="table-layout: fixed">
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="25%" data-bind="click: function() { sort('name') }">Bin</th>
                <th width="20%" data-bind="click: function() { sort('size') }">Contigs</th>
                <th width="20%" data-bind="click: function() { sort('gc') }">GC</th>
                <th width="20%" data-bind="click: function() { sort('n50') }">N50</th>
                <th width="10%">Color</th>
            </tr>
        </thead>
    </table>
    <div style="overflow-y: auto; max-height: 150px">
        <table class="table table-condensed table-hover" style="table-layout: fixed">
            <tbody data-bind="foreach: bins">
            <tr>
                <td width="5%">
                <input type="checkbox" data-bind="checkedValue: id,
                                                  checked: $parent.binIds">
                </td>
                <td data-bind="text: name" width="25%"></td>
                <td data-bind="text: size" width="20%"></td>
                <td data-bind="text: gc" width="20%"></td>
                <td data-bind="text: n50" width="20%"></td>
                <td width="10%">
                    <button data-bind="style: { 'background-color': color },
                                       colorpicker: color"
                            class="colorBox"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default"
     data-bind="with: binsetPage,
                visible: selectedBinset && crumb() == CrumbEnum.BINSET">
    <div class="panel-body"></div>

    <table class="table table-condensed" style="table-layout: fixed">
        <thead>
        <tr>
            <th width="5%"></th>
            <th width="55%">Contig</th>
            <th width="20%">GC</th>
            <th width="20%">Length</th>
        </tr>
        </thead>
    </table>
    <div style="overflow-y: auto; max-height: 150px">
        <table class="table table-condensed table-hover" style="table-layout: fixed">
            <tbody data-bind="foreach: contigs">
            <tr>
                <td width="5%">
                    <input type="checkbox" data-bind="checkedValue: id,
                                                  checked: $parent.scatterplotPanel.selectedContigIds">
                </td>
                <td data-bind="text: name" width="55%"></td>
                <td data-bind="text: gc" width="20%"></td>
                <td data-bind="text: length" width="20%"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="panel panel-default"
     data-bind="with: contigSection,
                visible: selectedContigset && crumb() == CrumbEnum.CONTIGSET">
    <div class="panel-body">
        <span class="pull-left">
            <div class="dropdown">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    <span><span data-bind="text: selectedAmount"></span> geselecteerd</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click: ">Verwijder</a></li>
                </ul>
            </div>
        </span>
        <span class="pull-right">
            <button class="btn btn-sm btn-default"
                    data-bind="click: toggleFilters, css: { active: showFilters }">
                <span class="glyphicon glyphicon-filter"></span>
            </button>
        </span>
    </div>

    <div class="well well-sm" data-bind="visible: showFilters">
        <form class="form-horizontal">
            <div class="form-group form-group-sm">
                <label class="col-xs-2 control-label">GC</label>
                <div class="col-xs-3 col-xs-offset-2">
                    <select class="form-control" name="gcOperator">
                        <option> > </option>
                        <option> < </option>
                        <option> = </option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <input class="form-control" type="text" name="gcValue" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-2 control-label">Lengte</label>
                <div class="col-xs-3 col-xs-offset-2">
                    <select class="form-control" name="lengthOperator">
                        <option> > </option>
                        <option> < </option>
                        <option> = </option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <input class="form-control" type="text" name="lengthValue" />
                </div>
            </div>
        </form>
        <button class="btn btn-primary btn-sm">Toepassen</button>
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th width="5%">
                    <input type="checkbox"
                           data-bind="checked: allContigsSelected">
                </th>
                <th width="55%" data-bind="click: function() { sort('name') }">
                    Contig
                    <span class="glyphicon pull-right"
                          data-bind="css: { 'glyphicon-chevron-up': sortBy() == 'name',
                                            'glyphicon-chevron-down': sortBy() == '-name'}">
                    </span>
                </th>
                <th width="20%" data-bind="click: function() { sort('gc') }">
                    GC
                    <span class="glyphicon pull-right"
                          data-bind="css: { 'glyphicon-chevron-up': sortBy() == 'gc',
                                            'glyphicon-chevron-down': sortBy() == '-gc'}">
                    </span>
                </th>
                <th width="20%" data-bind="click: function() { sort('length') }">
                    Lengte
                    <span class="glyphicon pull-right"
                          data-bind="css: { 'glyphicon-chevron-up': sortBy() == 'length',
                                            'glyphicon-chevron-down': sortBy() == '-length'}">
                    </span>
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: contigs">
            <tr>
                <td width="5%">
                    <input type="checkbox"
                           data-bind="checked: $parent.selectedContigIds || $parent.allContigsSelected,
                                      checkedValue: id,
                                      click: $root.select">
                </td>
                <td data-bind="text: name" width="55%"></td>
                <td data-bind="text: gc" width="20%"></td>
                <td data-bind="text: length" width="20%"></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer" style="background-color: #ffffff">
    <div class="row">
        <div class="col-xs-4">
            <div class="input-group input-group-sm">
                <input class="form-control" type="text" data-bind="value: index">
                <span class="input-group-addon">
                    / <span data-bind="text: indices"></span>
                </span>
            </div>
        </div>

        <div class="col-xs-3 col-xs-offset-5">
            <p class="small">
                <i><span data-bind="text: count"></span></i> contigs</p>
        </div>
    </div>
    </div>
</div>


<textarea data-bind="value: ko.toJSON($root, null, 2)" class="form-control"
    style="height: 500px"></textarea>
