{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-xs-11"><hr></div>
    <div class="col-xs-1">
        <button type="button" class="btn btn-primary" data-bind="click: newChordPanel">+</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-xs-12">{% include "data.html" %}</div>
    <div class="col-sm-8 col-xs-12">
        {% if new_user %}
            {% include 'instructions.html' %}
        {% endif %}

        {% include "panels.html" %}

        <div id="panels" data-bind="template: {name: getPanelTemplate, foreach: panels}">
        </div>
    </div>
</div>
{% endblock %}