{% extends "layout.html" %}

{% block body %}
<script type="application/javascript">
$(function() {
    var binsetSelects = $('.binsetSelect');
    binsetSelects.prop('selectedIndex', -1);
    $('#visualiseBtn').click(function() {
        changeAndUpdateChord(binsetSelects[0].value, binsetSelects[1].value);
    });
})
</script>

<hr>

<div class="row">
    <div class="col-xs-4">{% include "data.html" %}</div>
    <div class="col-xs-8">
        {% if new_user %}
            {% include 'instructions.html' %}
        {% endif %}

        {% include "panels.html" %}

        <div id="panels" data-bind="template: {name: getPanelTemplate, foreach: panels}">
        </div>
    </div>
</div>
{% endblock %}