{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-xs-4">{% include "data.html" %}</div>
{#    <div class="col-xs-4">{% include "test.html" %}</div>#}
    <div class="col-xs-8">
        {% if new_user %}
            {% include 'instructions.html' %}
        {% endif %}
{#        <h2>Visualisaties</h2>#}

{#        <ul class="nav nav-tabs">#}
{#            <li role="presentation" class="active"><a href="#">Bin sets</a></li>#}
{#            <li role="presentation"><a href="#">Bins</a></li>#}
{#            <li role="presentation"><a href="#">Taxonomie</a></li>#}
{#        </ul>#}

        <div id="chordPlot" class="panel panel-default"></div>
    </div>
</div>
{% endblock %}