<script type="text/html" id="chordPanel">
    <div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="close" aria-label="Close" data-bind="click: $root.removePanel">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="row">
                <div class="col-xs-3">
                    <select class="form-control"
                            data-bind="options: $root.binsets,
                                       optionsText: 'name',
                                       value: selectedBinset1">
                    </select>
                </div>
                <button class="col-xs-1 btn btn-default"
                        data-bind="click: switchSelectedBinsets">
                    <span class="glyphicon glyphicon-transfer"></span>
                </button>
                <div class="col-xs-3">
                    <select class="form-control"
                            data-bind="options: $root.binsets,
                                       optionsText: 'name',
                                       value: selectedBinset2">
                    </select>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-primary" data-bind="click: updateChordPanel,
                        enable: selectedBinset1 && selectedBinset2">
                        Visualiseer
                    </button>
                </div>
                <div class="col-xs-1">
                    <a href="#" data-bind="click: toggleSettings">Opties</a>
                </div>
            </div>

            <div data-bind="visible: showSettings">
                <input type="checkbox" data-bind="checked: unifiedColor" /> Uniforme kleur
            </div>

            <div class="row">
                <div data-bind="chordSvg: updateChordPanel" class="col-xs-9"></div>
                <div class="col-xs-3">
                    <p data-bind="text: selectedBin().id"></p>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="binsetPanel">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2">
                    <select class="form-control"
                            data-bind="options: $root.binsets,
                                       optionsText: 'name',
                                       value: binset">
                    </select>
                </div>
                <div class="col-xs-10">
                    <button type="button" class="close" aria-label="Close" data-bind="click: $root.removePanel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-3">
                    <!-- ko if: typeof binset() !== 'undefined' -->
                    <ul class="list-group scrollable" data-bind="foreach: binset().bins">
                        <li class="list-group-item" data-bind="text: $data"></li>
                    </ul>
                    <!-- /ko -->
                </div>
                <div class="col-xs-9">

                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="contigsPanel">
    <div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="close" aria-label="Close" data-bind="click: $root.removePanel">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <div class="col-xs-3">
                    <select class="form-control" multiple size="5"
                            data-bind="options: $root.contigsets,
                                       selectedOptions: selectedContigsets,
                                       optionsText: 'name'">
                    </select>
                </div>
                <div class="col-xs-9" data-bind="scatterSvg: true"></div>
            </div>
        </div>
    </div>
</script>
