<div class="panel panel-default" data-bind="with: chordPanel">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label>Bin sets</label>
                    <select class="form-control"
                            data-bind="options: $root.binsets,
                                           optionsText: 'name',
                                           value: selectedBinset1">
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control"
                            data-bind="options: $root.binsets,
                                           optionsText: 'name',
                                           value: selectedBinset2">
                    </select>
                </div>

                <div class="form-group">
                    <label>Options</label> <br>
                    <input type="checkbox" data-bind="checked: unifiedColor" /> Uniforme kleur
                </div>

                <button class="btn btn-primary btn-block" data-bind="click: updateChordPanel,
                        enable: selectedBinset1 && selectedBinset2">
                    Visualise
                </button>
            </div>

            <div class="col-xs-9">
                <div data-bind="chordSvg: updateChordPanel"></div>
            </div>
        </div>
    </div>
</div>
