<div id="instructions" class="panel panel-default">
    <div class="panel-body">
        <div class="page-header">
            <h1>CoReBIN <small>Evaluation of metagenomic binning</small></h1>
        </div>

        <ul class="nav nav-pills nav-stacked pull-right" id="home-navbar">
            <li role="presentation"><a href="#info">Info</a></li>
            <li role="presentation"><a href="#instructions">Instructions</a></li>
        </ul>

        <div data-spy="scroll" data-target="#home-navbar" style="position: relative">
            <h4 id="info">Info</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in fermentum leo, a egestas orci. Sed quis ligula vel ligula suscipit rutrum. In ultrices a enim ut fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum sit amet lacinia libero. Sed pretium feugiat tellus, et viverra ex egestas eget. In hac habitasse platea dictumst. Vivamus fermentum massa ornare tortor suscipit fringilla. Etiam at ligula mattis, dictum est vel, suscipit ex. Suspendisse leo tortor, rutrum eu ornare ac, aliquet sit amet eros. Nam enim sapien, aliquam eu odio non, tincidunt bibendum lorem. Duis posuere, dolor quis tempor porttitor, augue sapien fermentum diam, sed sollicitudin augue neque at tortor.

                Suspendisse rhoncus tincidunt lorem, at cursus nisi accumsan sit amet. Aenean efficitur vitae nunc blandit ultrices. Pellentesque luctus pulvinar ante, et ornare velit blandit eget. Cras ultrices turpis ac nunc placerat, ut tristique lacus congue. Morbi gravida pellentesque risus, at aliquet mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. In et diam faucibus, placerat sem id, commodo nunc. Nulla ac ipsum sed tellus imperdiet iaculis ut et ipsum.
            </p>

            <h4 id="instructions">Instructions</h4>
            <p>
                Suspendisse at tempus turpis. Pellentesque eget commodo dui, consequat aliquam purus. Quisque aliquam enim justo, vitae lacinia purus auctor a. Ut ac augue ac tortor convallis malesuada. Nam eget lectus mattis, eleifend erat sagittis, ullamcorper eros. Nunc et purus at magna elementum luctus a eu elit. Fusce eu massa vitae felis efficitur dapibus at eget sapien. Aenean suscipit nulla eget feugiat lobortis. Vestibulum pulvinar felis ac volutpat bibendum. Fusce tristique condimentum tempus. Cras venenatis erat augue. Suspendisse iaculis placerat diam, id tincidunt lectus maximus in. Donec sed leo lorem. Etiam cursus non sem vitae varius. Mauris congue lorem ultrices libero pulvinar, at rhoncus ligula tempus.
            </p>
        </div>
    </div>
</div>